iframe.uas {
    border:0px;
}

a.uas_icon {
    width: 128px;
    height: 128px;
}

a.uas_icon img.uas_icon {
    display: inline-block;
    margin-bottom: 0.8em;
}

div.uas_banner {
    max-width:600px; 
    height: 130px;
    margin-bottom: 0.8em;
}

iframe.uas_banner {
    width: 600px; 
    height: 130px;
    margin-bottom: 0;
}

div.uas_widget {
    display: inline-block;
    max-width: 202px;
    margin-bottom: 0.8em;
    margin-right: 0.8em;
}

iframe.uas_widget {
    display: inline-block;
    width: 202px;
    height: 260px;
    margin-bottom: 0;
}

div.uas_list_banner {
    max-width:600px;
    height: 100px;
    margin-bottom: 0.8em;
}

iframe.uas_list_banner {
    width: 600px;
    height: 100px;
    margin-bottom: 0;
}

div.uas_list_widget {
    display: inline-block;
    max-width: 300px;
    margin-bottom: 0.8em;
    margin-right: 0.8em;
}

iframe.uas_list_widget {
    display: inline-block;
    width: 300px;
    height: 485px;
    margin-bottom: 0;
}